# the entire list of options is mind boggling
# see here for them
# https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/files/gitlab-config-template/gitlab.rb.template
#
external_url 'https://{{ server_name }}'

gitlab_rails['gitlab_shell_ssh_port'] = 10022

#### Change the initial default admin password and shared runner registraion
#tokens.
#####! **Only applicable on initial setup, changing these settings after database
#####!   is created and seeded won't yield any change.**
gitlab_rails['initial_root_password'] = '{{ gitlab_root_password }}'


gitlab_rails['smtp_enable'] = true
gitlab_rails['smtp_address'] = 'smtp.sdn.csc.fi'


gitlab_rails['gitlab_email_from'] = '{{ gitlab_email_from }}'
gitlab_rails['gitlab_email_display_name'] = '{{ gitlab_email_display_name }}'

gitlab_rails['initial_shared_runners_registration_token'] = '{{ initial_shared_runners_registration_token }}'

# only admins can create groups
#gitlab_rails['gitlab_default_can_create_group'] = false


#gitlab_rails['default_projects_limit'] = 0

{{ gitlab_extra_config }}
