---
- name: add keypair
  os_keypair:
    name: "{{ keypair_name }}"
    public_key:  "{{ lookup('file', 'id_rsa_gitlab_server.pub' ) }}"
  register: keypair

- include: create_sg.yml

- include: create_gitlab.yml


- include: create_backup.yml

- include: create_runner.yml
  when: runner_registration_token|default("") != ""

- name: add ssh alias for forwarding to local config
  blockinfile:
    dest:  ssh.cfg
    backup: no
    mode: 0700
    create: yes
    marker: "# {mark} ANSIBLE MANAGED BLOCK for cr-gitlab"
    block: |
      Host {{ server_fqdn }}
      HostName {{ gitlab_server.openstack.interface_ip }}
      User {{ ansible_user }}
      ControlMaster auto
      ControlPath ~/.ssh/ansible-%r@%h:%p
      ControlPersist 5m

- name: add gitlab
  blockinfile:
    dest:  ssh.cfg
    backup: no
    mode: 0700
    create: yes
    marker: "# {mark} ANSIBLE MANAGED BLOCK for cr-gitlab-proper"
    block: |
      Host gitlab
      HostName {{ gitlab_server.openstack.interface_ip }}
      User {{ ansible_user }}

- name: add ssh alias to local ssh config
  blockinfile:
    dest:  ssh.cfg
    backup: no
    mode: 0700
    create: yes
    marker: "# {mark} ANSIBLE MANAGED BLOCK for cr-gitlab-backup"
    block: |
      Host gitlab-backup
      HostName {{ backup_server.openstack.private_v4 }}
      User {{ ansible_user }}
      ProxyCommand ssh -W %h:%p {{ ansible_user }}@{{ server_fqdn }}

- name: add ssh alias to local ssh config
  blockinfile:
    dest:  ssh.cfg
    backup: yes
    mode: 0700
    create: yes
    marker: "# {mark} ANSIBLE MANAGED BLOCK for cr-gitlab-runner"
    block: |
      Host gitlab-runner
      HostName {{ gitlab_runner.openstack.private_v4 }}
      User {{ ansible_user }}
      ProxyCommand ssh -W %h:%p {{ ansible_user }}@{{ server_fqdn }}
  when: runner_registration_token|default("") != ""
